<div id='article_list'>
  <% @articles_list.each do |article| %>
        <%= render partial: 'article_list_detail', :locals => {:article => article}  %>
  <% end %>
</div>
<%= will_paginate @articles_list, class: 'article_pagination', renderer: WillPaginateInfinite::InfinitePagination %>
