<p class="subscribe_text text-center"> Become a member for Free!</p>
<%= form_for [:admin, @subscriber] do |f| %>
  <ul>
    <% @subscriber.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <span><%= f.text_field :email %> </span>
  <span><%= f.button 'Subscribe',type: 'submit' %> </span>
  <% end %>
