<% content_for :head do %>
  <%= render partial: 'meta_info' %>
<% end %>
  <div class="row-xs-12 hero_main">
    <%= render partial: 'article_main_2' %>
  </div>
  <div class="row-xs-12">
      <%= render partial: 'subscriber_form' %>
  </div>
  <div class="row-xs-12">
    <div class="col-xs-10 nopadding">
      <%= render partial: 'article_list' %>
    </div>
    <div class="col-xs-2" id="articles">
    <!--  CC-->
    </div>
  </div>
