<% content_for :head do %>
  <%= render partial: 'meta_info' %>
<% end %>
<h2 class="text-center author_title">Reviews</h2>
<div class="col-xs-12  main_title_small" >
  <div id='article_list'>
    <% @articles.each do |article| %>
          <%= render partial: 'article_review_detail', :locals => {:article => article}  %>
    <% end %>
  </div>
  <%= will_paginate @articles, class: 'article_pagination', renderer: WillPaginateInfinite::InfinitePagination %></div>
<div class="col-xs-4 nopadding" >
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Reviews Lateral -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3721531347311894" data-ad-slot="2679511183" data-ad-format="auto"></ins>
  <script> (adsbygoogle = window.adsbygoogle || []).push({});  </script>
</div>
