@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

div {
  border-style: solid;

}
h1 {
  margin: 10px;
}

.hero_main div{
  background-color:black;
  font-family: Heroic;
}

.hero_main p{
  color:white;
  margin: 10px;
}

.main_article_img img{
  float:left;
  padding: 0 !important;
  margin: 0 !important;
}
.main_article_title{
  font-style: normal;
  font-weight: 700;
  letter-spacing: .008em;
  line-height: .9;
  text-transform: uppercase;
  float:left;
  color: white;
  font-size: 50px;

}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
