

      <nav class="navbar navbar-default nopadding">
        <div class="container-fluid nav-backg">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bc-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-backg-h" href="/"><%=image_tag("logo.png")%></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse"  id="bc-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li> <%=link_to "NEWS",news_path%></li>
              <li> <%=link_to "REVIEWS",reviews_path%></li>
              <li> <%=link_to "NOTES",articles_path%></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
