<!-- Static navbar -->
      <nav class="navbar navbar-default nopadding">
        <div class="container-fluid nav-backg">
          <div class="navbar-header" style="margin-left:23vw;">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand nav-backg-h" href="/">Breathing Comics</a>
          </div>
        <!--  <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/">About</a></li>
              <li><a href="/">Contact</a></li>
            </ul>
          </div>-->
        </div><!--/.container-fluid -->
      </nav>


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-center" href="/">Blue Ink</a>
  <div class="navbar-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
    </ul>
  </div>
</nav>-->
