<!-- Static navbar -->
      <nav class="navbar navbar-default nopadding">
        <div class="container-fluid nav-backg">
          <a class=" navbar-brand nav-backg-h" href="/">Breathing Comics</a>
         </div><!--/.container-fluid -->
      </nav>
